*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100vw;
    padding: 23px;
    background-color: #292a2d;
}

#input-box{
    border: 1px solid black;
    padding: 23px;
}

input, textarea{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 6px;
    color: white;
}

button{
    background: transparent;
    color: white;
    padding: 8px 12px;
    border: 1px solid white;
}

#notes{
    padding: 23px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}
.note{
    width: 300px;
    color: #a1a0a0;
    overflow-wrap: break-word;
    margin: 12px;
    padding: 12px;
    border: 1px solid black;
    background: transparent;
}

.deleteNote{
    float: right;
}

.search{
    justify-content: center;
    display: flex;
}
#search-bar {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #292a2d;
    font-size: larger;
    font-weight: 400;
  }




.row {
    display: flex;
  }
  
  .col {
    flex: 1;
    padding: 10px;
  }
  
  .card {
    background-color: #292a2d;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #e0e0e0;
    border-bottom: 1px solid #d0d0d0;
    cursor: pointer;
    padding: 10px;
  }
  
  .card-body {
    display: none;
    padding: 10px;
    color: black;
  }
  
  .card-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .card-body li {
    margin-bottom: 10px;
  }
  